# Exclude any PSD/AI source
*.psd
*.ai
 
# Exclude Node.js modules
node_modules/*

# Exclude Sass cache
.sass-cache/*
 
# Exclude Text Files
*.txt
# Except read me
!README.txt

# Exclude executables
*.exe

# Exclude lock files from MongoDB
*.lock