* {
	box-sizing: border-box;
}

[draggable] {
	user-select: none;
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

header {
	width: 100%;
	background: gray;
}


#inspector {
	background: red;
	width: 200px;
	height: 200px;
	border-radius: 15px;
}

.drag {
	position: fixed;
}