/* CSS Organization Rules

    1. Box
    2. Border
    3. Background
    4. Text
    5. Other

    Syntax:
    hyphen-delimited

*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

* {
	box-sizing: border-box;
}

body {
    font-size: 62.5%;
    line-height: 1.6em;
    overflow: hidden;
}
h2 {
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: 100;
}
a {
    font-size: 1.6em;
    text-decoration: none;
}
p {
    font-size: 1.6em;
}

[draggable] {
	user-select: none;
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}