/* CSS Organization Rules

    1. Box
    2. Border
    3. Background
    4. Text
    5. Other

*/

html, body {
    height: 100%;
}

header {
	width: 100%;
	background: gray;
    height: $header-height;
}

main {
    height: calc(100% - #{$header-height});
    
    > section {
        display: inline-block;
        float: left;
    }
}

.dock {
    // Box
    height: 100%;
    width: 200px;
    
    // Background
    background: red;
    
    // Other
    transition: all .3s ease;
}