body {
	position: relative;
}

header {
	
	#pages {
		
		ul {
			@extend %flex_container;
			@include justify-content(flex-start);
		}
		
		width: 60%;
		background: #849;
		@include align-self(flex-end);
	}
	
	#config {
		//text-align: right;
		//align-self: center;
		//background: #f02;
	}
	
	@extend %flex_container;
	position: absolute;
	top: 0;
	left: 0;
	height: $height_header;
	width: 100%;	
}

main {
	
	#inspector {
		
		#sectionwrapper {
			
			section {
				display: inline-block;
				vertical-align: top;
				width: 350px;
				height: 200px;
			}
			
			white-space: nowrap;
			width: 1050px;
			display: table;
			height: 200px;
		}
		
		nav {
			@extend %flex_container;
			@include justify-content(space-between);
			@include align-items(center);
		}
		
		white-space: nowrap;
		overflow: hidden;
	}
	
	@extend %flex_container;
	position: absolute;
	top: $height_header;
	left: 0;
	height: -webkit-calc(100% - #{$height_header});
	height: calc(100% - #{$height_header});
	width: 100%;
	
}

// Widths
#user,
#config, 
#inspector,
#library { 
	width: 20%;
	min-width: 350px;
}

/*#inspector,
#library {
	position: fixed;
}*/

#pages {
	width: 60%;
}
#livepreview,
#mockup {
	width: 30%;
}

// Heights