/* CSS Organization Rules

    1. Box
    2. Border
    3. Background
    4. Text
    5. Other

*/

.dock {
    // Box
    position: relative;
    
    // Other
    //transform: translateZ(0);
    padding-top: 44px;
}

.panel {
    // Box
    width: 200px;
    height: 200px;
    
    // Other
    transform: translateZ(0);
}

#panel-style {
    // Box

    // Background
    background: yellow;
}

#panel-element {
    // Background
    background: orange;
}

#library {
    background: green;
    width: 200px;
    height: 200px;
    z-index: 11;
}

.btn-dock {
    // Box
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    
    // Background
    background: purple;
    
    // Other
}

