/* CSS Organization Rules

    1. Box
    2. Border
    3. Background
    4. Text
    5. Other

    Syntax:
    hyphen-delimited

*/

#dock-left {
    left: 0;
}
#dock-right {
    right: 0;
}

.btn-dock {
    // Box
    width: 44px;
    height: 44px;
    float: right;
   
    // Background
    background: purple;
    
    // Other
}

.panel {
    // Box
    width: $panel-width;
    height: 200px;
    
    // Other
    transform: translateZ(0);
    clear: both;
    
    h2 {
        // Box
        height: $btn-res;
        display: flex;
        align-items: center;
        
        // Text
        font-family: 'Tw Cen MT Condensed';
        
        // Other
        color: white;
        transition: all .3s ease;
        
        &:hover {
            color: $main-blue;
        }
    }
    
    nav {
        // Box
        height: $btn-res;
        
        // Background
        background-color: $sub-gray;
        
        ul {
            // Box
            height: $btn-res;
            
            li {
                // Box
                display: inline-block;
                width: $btn-res;
                height: $btn-res;
                
                a {
                    // Box
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    
                    // Other
                    color: white;
                    &:hover {
                        color: $main-blue;
                    }
                }
            }
        }
    }
}

#panel-style {
    // Box

    // Background
    background: $main-gray;
    
}

#panel-element {
    // Background
    background: orange;
}

// Icon Fonts // EXAMPLE USAGE: <span aria-hidden="true" data-icon="&#xE000;"></span>
span[data-icon]:before {
	font-family: 'icon-font-test';
	content: attr(data-icon);
	speak: none;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
