/* CSS Organization Rules

    1. Box
    2. Border
    3. Background
    4. Text
    5. Other

*/

// Dock
.dock[data-state=collapsed] {
    margin-left: -150px;
}

// Panel
.panel[data-state=loose] {
	position: fixed;
}

.panel-top {
    z-index: 10;
    cursor: grabbing;
}
