/* CSS Organization Rules

    1. Box
    2. Border
    3. Background
    4. Text
    5. Other

    Syntax:
    hyphen-delimited

*/

// Dock
#dock-left[data-state=collapsed] {
    left: -1 * $panel-width + $btn-res;
}
#dock-right[data-state=collapsed] {
    right: -1 * $panel-width + $btn-res;
}

// Panel
[data-state=loose] {
	position: fixed;
}

[data-priority=top] {
    z-index: 10 !important;
    cursor: grabbing;
}
