<!doctype html>
<html lang="en">
<head>
    
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    
    <!-- Title -->
    <title>
        Rocket Editor | Developer
    </title>
   
    <!-- CSS -->
    <link rel="stylesheet" href="../builds/development/css/main.css">

    <!-- JavaScript -->
    <script src="../builds/development/js/main.js"></script>

    <!-- Typekit Fonts -->
    <script type="text/javascript" src="//use.typekit.net/pte5noj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <!-- Font Awesome | Temporary -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
</head>
<body>
    <h1>Developer View</h1>
</body>
</html>