<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rocket Editor</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../builds/development/css/main.css">

    <!-- JavaScript -->
    <script src="../builds/development/js/main.js"></script>

    <!-- Typekit Fonts -->
    <script type="text/javascript" src="//use.typekit.net/pte5noj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <!-- Font Awesome | Temporary -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
</head>
<body>

	<h1 hidden>Rocket</h1>
	
	<header>
		
		<section id="user">
			<h2><%= code %></h2>
		</section>
		
		<section id="pages">
			<h2 hidden>Pages</h2>
			<ul>
			<% pages.forEach(function(page) { %>
				<li><a href=""><%= page.name %></a></li>
			<% }); %>
			</ul>
		</section>
		
		<section id="config">
			<h2>Configuration</h2>
		</section>
		
	</header>
	
	<main>
	
	    <!--
           DOCK
            id                 Used to identify the dock for collapsing off screen (left or right)
            class              Used for Module CSS Styles of 'dock' class
           
           PANEL
            id                 Used for JavaScript positioning
	        class              Used for Module CSS Styles of 'panel' class
        -->
	
		<section id="dock-left" class="dock" data-state="expanded" dropzone="move">
       
            <a href="#" class="btn-dock"><<</a>
        
		    <section id="panel-style" class="panel panel-top" data-state="docked" draggable="true">
			    Style
			</section>
			
			<section id="panel-element" class="panel" data-state="docked" draggable="true">
			    Element
			</section>
			
		</section>
		
		
		<section id="livepreview">
			Live Preview
					
		</section>
		
		<section id="mockup">
			Mockup preview
		</section>
		
		<section id="library">
			<h2>Library</h2>
		</section>
		
	</main>
	<script src="http://jsconsole.com/remote.js?1964EC8C-6F16-4CD9-BE9B-92B30AB03721"></script>
</body>
</html>