<!doctype html>
<html lang="en">
<head>
    
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    
    <!-- Title -->
    <title>
        Rocket Editor | Designer
    </title>
   
    <!-- CSS -->
    <link rel="stylesheet" href="../builds/development/css/main.css">

    <!-- JavaScript -->
    <script src="../builds/development/js/main.js"></script>

    <!-- Typekit Fonts -->
    <script type="text/javascript" src="//use.typekit.net/pte5noj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <!-- Font Awesome | Temporary -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
</head>
<body>

	<h1 hidden>Rocket</h1>
	
	<header>
		
		<section id="user">
			<h2><%= code %></h2>
		</section>
		
		<section id="pages">
			<h2 hidden>Pages</h2>
			<ul>
			<% pages.forEach(function(page) { %>
				<li><a href=""><%= page.name %></a></li>
			<% }); %>
			</ul>
		</section>
		
		<section id="config">
			<h2>Configuration</h2>
		</section>
		
	</header>
	
	<main>
	
		<section id="dock-left" class="dock" data-state="expanded" dropzone="move">
       
            <a href="#" class="btn-dock">close</a>
        
		    <section id="panel-style" class="panel" data-state="docked" data-priority="top">
			    <h2 class="draghandle" draggable="true">Style</h2>
			    <nav>
                    <ul>
                        <li>
                            <a href="#" id="btn-style-list">
                                <span aria-hidden="true" data-icon="&#xE800;"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="btn-style-add">
                                <span aria-hidden="true" data-icon="&#xE801;"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div>
                    List of Styles
                </div>
                <div>
                    Add new Style
                </div>
			</section>
			
			<section id="panel-element" class="panel" data-state="docked" data-priority="idle">
			    <h2 class="draghandle" draggable="true">Element</h2>
			</section>
			
		</section>
		
		<section id="livepreview">
			Live Preview
					
		</section>
		
		<section id="mockup">
			Mockup preview
		</section>
		
		<section id="dock-right" class="dock" data-state="collapsed" dropzone="true">
		    
		</section>
		
	</main>
	<script src="http://jsconsole.com/remote.js?1964EC8C-6F16-4CD9-BE9B-92B30AB03721"></script>
</body>
</html>