<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rocket I/O</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="../public/css/main.css">
	
	<!-- JavaScript -->
	<script src="../public/js/main.js"></script>
	
</head>
<body>
	<%- body %>
	<h2>Hello world!</h2>
	<p>Happy times!</p>
</body>
</html>