<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Projects</title>
</head>
<body>
	Hoi
	<% projects.forEach(function(el) { %>
		<h2><%= el.name %></h2>
	<% }); %>
</body>
</html>