<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Projects</title>
</head>
<body>
	Mijn Projecten
	<% projects.forEach(function(el) { %>
		<h2>
            <a href="/project/<%= el.project_id.code %>"><%= el.project_id.name %></a>
        </h2>
	<% }); %>
</body>
</html>